<div class="d-flex flex-column align-items-center">
  <div class="row justify-content-center">
    <h1><%= @test.name.upcase %> <i class="fa-solid fa-circle-info" data-bs-toggle="modal" data-bs-target="#testDescription"></i></h1>
  </div>
  <div class="row justify-content-between">
    <div class="col-5">
      <% case @test.name.downcase %>
        <% when 'liste de mots' %>
          <%= render "words_list/words_list_show" %>
        <% when 'test de la nasa' %>
          <%= render "nasa/nasa_show" %>
      <% end %>
    </div>
    <div class="col-5">
      <h2>Votre score est de:</h2>
      <h2><%= @user_test.score %>%</h2>
      <h2>Statistiques:</h2>
    </div>
    <%= render 'shared/modal_test_description' %>
