<div class="row d-flex justify-content-around">
  <%= render 'admin/shared/side_bar' %>
  <div class="col-8 d-flex flex-column">
    <h1>User Test</h1>
    <%= simple_form_for @user_test, url: admin_user_test_path(@user_test) do |f| %>
      <p>ID: <%= @user_test.id %></p>
      <p>User: <%= @user_test.user.username %></p>
      <p>Test: <%= @user_test.test.name %></p>
      <%= f.input :score %>
      <%= f.input :completed %>
      <%= f.input :answer %>
      <%= f.submit "Mettre à jour", class: "buttons button-dark" %>
    <% end %>
  </div>
</div>
