<div class="row d-flex justify-content-around">
  <%= render 'admin/shared/side_bar' %>
  <div class="col-8 d-flex flex-column">
    <h1>User Tests</h1>
    <div class="row">
      <div class="col-2 d-flex align-items-center"><h2>User</h2></div>
      <div class="col-3 d-flex align-items-center"><h2>Test</h2></div>
      <div class="col-2 d-flex align-items-center"><h2>Score</h2></div>
      <div class="col-2 d-flex align-items-center"><h2>Completed</h2></div>
      <div class="col-1 d-flex justify-content-center align-items-center"><h3>Edit</h3></div>
      <div class="col-1 d-flex justify-content-center align-items-center"><h3>Destroy</h3></div>
    </div>
    <% @user_tests.each do |user_test| %>
      <div class="row">
        <div class="col-2 d-flex align-items-center"><h3><%= user_test.user.username %></h3></div>
        <div class="col-3 d-flex align-items-center"><h3><%= user_test.test.name %></h3></div>
        <div class="col-2 d-flex align-items-center"><h3><%= user_test.score %>%</h3></div>
        <div class="col-2 d-flex align-items-center"><h3><%= user_test.completed %></h3></div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <%= link_to edit_admin_user_test_path(user_test) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <%= link_to admin_user_test_path(user_test),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
