<div class="row d-flex justify-content-around">
  <%= render 'admin/shared/side_bar' %>
  <div class="col-8 d-flex flex-column">
    <h1>User Games</h1>
    <div class="row">
      <div class="col-2 d-flex align-items-center"><h2>User</h2></div>
      <div class="col-3 d-flex align-items-center"><h2>Game</h2></div>
      <div class="col-2 d-flex align-items-center"><h2>Score</h2></div>
      <div class="col-2 d-flex align-items-center"><h2>Completed</h2></div>
      <div class="col-1 d-flex justify-content-center align-items-center"><h3>Edit</h3></div>
      <div class="col-1 d-flex justify-content-center align-items-center"><h3>Destroy</h3></div>
    </div>
    <% @user_games.each do |user_game| %>
      <div class="row">
        <div class="col-2 d-flex align-items-center"><h3><%= user_game.user.username %></h3></div>
        <div class="col-3 d-flex align-items-center"><h3><%= user_game.game.name %></h3></div>
        <div class="col-2 d-flex align-items-center"><h3><%= user_game.score %>%</h3></div>
        <div class="col-2 d-flex align-items-center"><h3><%= user_game.completed %></h3></div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <%= link_to edit_admin_user_game_path(user_game) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <%= link_to admin_user_game_path(user_game),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
