<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag asset_path("logo.png") %>
    <% end %>
    <% if user_signed_in? %>
      <h2><%= current_user.username %></h2>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <% if current_user.admin %>
            <li class="nav-item">
              <%= link_to "Admin Dashboard", admin_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Lien temporaire Les Yeux", 'http://www.psychomedia.qc.ca/tests/lecture-de-l-etat-d-esprit-dans-les-yeux/resultat?r=8qgncliixke5joqz0tk', class: "nav-link", target: "_blank" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Categories", categories_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mes tests", user_tests_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag asset_path("Ducktrix.jpg"), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
