<div class="banner" >
  <div class="container">
    <h1>Bienvenu sur l'application de tests de <strong>FeelGoodFellows</strong>!</h1>
    <p>Tu vas pouvoir mesurer l'intelligence collective de ton équipe!</p>
    <%= link_to "Commencez les tests!", categories_path, class: "buttons button-white" %>
  </div>
</div>
<div class="container">
  <h2>Qu'est-ce que l'intelligence collective?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non. Amet nisl suscipit adipiscing bibendum est ultricies integer. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Varius morbi enim nunc faucibus. Mattis pellentesque id nibh tortor. Tincidunt lobortis feugiat vivamus at augue. Mi bibendum neque egestas congue quisque egestas diam. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Mauris nunc congue nisi vitae. Elementum integer enim neque volutpat. Ac felis donec et odio pellentesque diam volutpat commodo. Faucibus a pellentesque sit amet porttitor. Interdum posuere lorem ipsum dolor sit amet consectetur. Sit amet cursus sit amet dictum sit amet justo donec. Nulla facilisi etiam dignissim diam quis. Lorem mollis aliquam ut porttitor leo a.
  </p>

  <h2>Comment se mesure-t-elle?</h2>
  <p>Massa tincidunt nunc pulvinar sapien et. Nec tincidunt praesent semper feugiat. Orci ac auctor augue mauris augue neque gravida in. In hac habitasse platea dictumst vestibulum rhoncus est. Eu mi bibendum neque egestas congue quisque. Est ultricies integer quis auctor elit. Ut tristique et egestas quis ipsum suspendisse. Id donec ultrices tincidunt arcu non sodales neque sodales ut. Urna molestie at elementum eu facilisis sed odio morbi quis. Amet commodo nulla facilisi nullam vehicula ipsum. Maecenas ultricies mi eget mauris pharetra et ultrices neque ornare. Scelerisque in dictum non consectetur a erat nam. In fermentum et sollicitudin ac orci phasellus egestas tellus. Vitae tortor condimentum lacinia quis vel eros donec.</p>

  <h2>Quelques liens intéressants...</h2>
  <p><%= link_to 'Fouloscopie - Le Laboratoire', 'https://fouloscopie.com/', target: "_blank" %></p>
  <p><%= link_to "Comment mesurer l'intelligence d'un groupe ? - vidéo", 'https://www.youtube.com/watch?v=xqqzMjfFa10', target: "_blank" %></p>
  <p><%= link_to "Test de la NASA", 'https://www.organisation-performante.com/lintelligence-collective-au-coeur-du-test-de-la-nasa/', target: "_blank" %></p>
  <% if current_user.admin %>
    <p></p><%= link_to "Lien temporaire Les Yeux", 'http://www.psychomedia.qc.ca/tests/lecture-de-l-etat-d-esprit-dans-les-yeux/resultat?r=8qgncliixke5joqz0tk', class: "nav-link", target: "_blank" %></p>
  <% end %>
</div>
