<div class="container">
  <div class="row justify-content-between">
    <div class="d-flex justify-content-center">
      <h1><%= @test.name.upcase %> <i class="fa-solid fa-circle-info" data-bs-toggle="modal" data-bs-target="#testDescription"></i></h1>
    </div>
    <div class="d-flex justify-content-center pacman" data-controller="game-optimisation" data-action="keydown@window->game-optimisation#keyDown" data-game-optimisation-grid-size-value="<%= @game.grid_size %>" data-game-optimisation-target-position-value="<%= @game.target_position %>" data-game-optimisation-ghosts-position-value="<%= @game.ghosts_position %>">
      <div class="col-8 row d-flex flex-column justify-content-center align-items-center">
        <div class="col-8 game-infos row">
          <div class="col-6 d-flex flex-column align-items-start"><h1><i class="fa-solid fa-stopwatch"></i> <span id="stop-watch"></span></h1></div>
          <div class="col-6 d-flex flex-column align-items-end countings">
            <div><h1>Total hits: <span data-game-optimisation-target="score"></span></h1></div>
          </div>
        </div>
        <%= render 'games/partial/grid' %>
        <div class="pad-control d-flex flex-column justify-content-center align-items-center">
          <div class="pad pad-up" data-action="click->game-optimisation#moveUp"></div>
          <div class="d-flex flex-row justify-content-center">
            <div class="pad pad-left" data-action="click->game-optimisation#moveLeft"></div>
            <div class="pad pad-empty"></div>
            <div class="pad pad-right" data-action="click->game-optimisation#moveRight"></div>
          </div>
          <div class="pad pad-down" data-action="click->game-optimisation#moveDown"></div>
        </div>
        <h3>Utilisez le pad de l'écran ou du clavier pour vous déplacer.</h3>
      </div>
      <%= simple_form_for [@test, @game], url: test_games_path(@test.name), :data => { "game-optimisation-target"=>"form" } do |f| %>
        <%= f.input :ghosts_position, label: false, :input_html => { class: "d-none" } %>
        <%= f.input :hit_count, as: :integer, label: false, :input_html => { class: "d-none", data: {game_optimisation_target: "hitCount"} } %>
        <%= f.input :total_time, as: :integer, label: false, :input_html => { class: "d-none", data: {game_optimisation_target: "totalTime"} } %>
      <% end %>
    </div>
  </div>
  <%= render 'shared/modal_test_description' %>
</div>
