<h1>Name: <%= @game.test.name %></h1>
<h1>Grid size: <%= @game.grid_size %></h1>
<h1>Ghosts number: <%= @game.ghosts_number %></h1>
<h1>Ghosts position: <%= @game.ghosts_position %></h1>
<h1>Nombre de coups:  <%= @game.hit_count %></h1>
<h1>Temps: <%= @game.total_time %></h1>
<h1>Fini: <%= @game.completed %></h1>
