<div class="row d-flex justify-content-around">
  <%= render 'admin/shared/side_bar' %>
  <div class="col-8 d-flex flex-column">
    <h1>Users</h1>
    <div class="row">
      <div class="col-4 d-flex align-items-center"><h2>Username</h2></div>
      <div class="col-5 d-flex align-items-center"><h2>Email</h2></div>
      <div class="col-1 d-flex justify-content-center align-items-center"><h3>Edit</h3></div>
      <div class="col-1 d-flex justify-content-center align-items-center"><h3>Destroy</h3></div>
    </div>
    <% @users.each do |user| %>
      <div class="row">
        <div class="col-4 d-flex align-items-center"><h3><%= user.username %></h3></div>
        <div class="col-5 d-flex align-items-center"><h3><%= user.email %></h3></div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <%= link_to edit_admin_user_path(user) do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
          <%= link_to admin_user_path(user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="button-dark buttons mt-5">
      <%= link_to new_admin_user_path do %>
        Nouvel utilisateur
      <% end %>
    </div>
  </div>
</div>
