<div class="col-4">
  <h1><%= @test.name.upcase %></h1>
  <h2>Categorie: <%= @test.category.name %></h2>
  <h2>Durée: <%= @test.duration.divmod(60)[0] %>mn <%= @test.duration.divmod(60)[1] %>s</h2>
  <p>Objectif: <%= @test.description %></p>
</div>
